* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.load-more {
  display: none;
}

.gallery {
  display: flex;
  gap: 30px;
}
.search-form {
  position: fixed;
  top: 0%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, 0%);

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  background-color: #000;

  width: 70%;
  height: 50px;
  border-radius: 5px;
}

input {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
  height: 70%;

  line-height: 1.5;
  font-size: 1.1em;

  color: black;
  background-color: white;
  border-color: white;
  border-radius: 20px 5px 5px 20px;
  border-width: 0;
}

.search-form button {
  margin-left: 20px;
  width: 60px;
  height: 70%;

  line-height: 1.5;
  font-size: 0.9em;

  background-color: black;
  color: white;
  border-color: white;
  border-radius: 5px ;
  border-width: 0.1em;
}
.search-form button:disabled {
  background-color: gray;
}

.search-form button:hover {
  background-color: white;
  color: black;
 
}
.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px auto 0;
}

.photo-card img {
  display: flex;
  justify-content: center;
  border: 1px gray;
  width: 100%;
  height: 200px;
}

.info {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  color: white;
  background-color: black;
  border-radius: 0 0 5px 5px;
}

.info-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 10px;
  line-height: 1.4;
  font-size: 0.7em;
}

button.load-more {
  display: none;
  margin: 20px auto;
  width: 100px;
  height: 40px;

  line-height: 1.5;
  font-size: 0.9em;

  background-color: black;
  color: white;
  border-color: white;
  border-radius: 5px 5px 5px 5px;
  border-width: 0.1em;
}

.load-more.is-visible {
  display: block;
}
.load-more.is-visible:hover {
  background-color: white;
  color: black;
}
